.Card {
  width: 380px;
  background: linear-gradient(180deg, rgba(255, 126, 134, 0.8) 0%, rgba(250, 167, 178, 0.8) 100%);
  height: 230px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  color: white;
  box-shadow: 0 20px 40px rgba(0,0,0 0.25);
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0,0,0 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card:hover h3 {
  display: none;
}

.Card:hover p {
  display: none;
}

.Card:hover img {

}

.Card img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: -1;
  width: 100%;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  font-size: 30px;
  margin: 20px 15px 7px 20px;
  line-height: 1.1;
}

.Card p {
  color: rgba(255,255,255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  margin: 0 0 20px 20px;
}

.Card span {
  text-transform: uppercase;
  margin: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  display: none;
}
