.Header {
  position: fixed;
  padding: 50px 0;
  width: 100%;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.HeaderScrolled {
  background: rgba(127, 104, 242, 0.9);
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.HeaderGroup {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
  font-size: 23px;
}

.Header a {
  font-weight: 700;
  transition: all .4s;
}

.Header a:hover {
  opacity: .7;
  cursor: pointer;
}

@media (max-width: 640px) {
  .Header {
    padding: 25px 0;
  }

  .HeaderGroup {
    grid-template-columns: repeat (3, auto);
    font-size: 20px;
  }

  .HeaderGroup img {
    width: 28px;
  }

  .Header a:nth-child(4) {
    display: none;
  }
}
