.Project {
  color: white;
  margin: 0;
  display: flex;
  padding: 150px 40px 100px 40px;
  background: #AFA6ED;
}

.ProjectGrid {
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.ProjectGrid img {
  width: 400px;
}

.Project img {
  margin-bottom: 40px;
  width: 700px;
  height: 100%;
}

.Project p {
  margin: 0 60px;
  font-size: 24px;
  line-height: 1.9;
}

.Project h1 {
  margin: 40px 60px 30px 60px;
  font-size: 40px;
}
