.Project {
  background-color: #AFA6ED;
  color: white;
  margin: 0;
  height: 150vh;
}

.Project img {
  margin-bottom: 40px;
}

.Project p {
  margin: 0 60px;
}

.Project h2 {
  margin: 40px 60px 10px 60px;
}
