.Project {
  color: white;
  height: 100vh;
  margin: 0;
  padding: 150px 40px 100px 40px;
  background: #AFA6ED;
}

.ProjectGrid {
  text-align: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  display: grid;
}

.ProjectGrid img {
  width: 400px;
}

.Project img {
  margin-bottom: 40px;
  width: 700px;
  height: 100%;
}

.ProjectText {
  margin: 0 auto;
  text-align: center;
}

.Project p {
  margin: 0 60px;
  font-size: 24px;
}

.Project h1 {
  font-size: 60px;
}

.Project h2 {
  font-size: 22px;
}
